#errorCatcher Echo
#import json
#encoding UTF-8
##
##
##
#set $now=$current.dateTime.raw
##
##
##
#set $inigoData = {"version": 1000000, "now": $now, "dtnow": $current.dateTime}
#set $vars = ["outTemp", "inTemp", "outHumidity", "inHumidity", "barometer", "dewpoint"]
#set $time_periods = ["day", "yesterday", "month", "last_month", "year", "last_year", "alltime"]
#for $var in $vars
    #set $var_name = getattr($current, $var, None)
    #if $var_name is not None and $var_name.has_data
        #set $var_name_str = "current_" + $var
        #$inigoData.update({$var_name_str: $var_name.formatted})
        #set $minus3600 = getattr($current($timestamp=$now-3600, $max_delta=180), $var, None)
        #if $var_name.formatted > $minus3600.formatted
        #$inigoData.update({$var_name_str + "_trend": "Rising"})
        #elif $var_name.formatted < $minus3600.formatted
        #$inigoData.update({$var_name_str + "_trend": "Falling"})
        #else
        #$inigoData.update({$var_name_str + "_trend": "Steady"})
        #end if
    #end if
    #for $time_period in $time_periods
        #set $time_period_obj = getattr($self, $time_period, None)
        #if $time_period_obj is not None
            #set $var_name = getattr($time_period_obj, $var, None)
            #if $var_name is not None and $var_name.has_data
                #set $var_name_str = $time_period + "_" + $var
                #set $var_name_min = $var_name_str + "_min"
                #set $var_name_mintime = $var_name_str + "_mintime"
                #set $var_name_max = $var_name_str + "_max"
                #set $var_name_maxtime = $var_name_str + "_maxtime"
                #$inigoData.update({$var_name_min: $var_name.min.formatted})
                #$inigoData.update({$var_name_mintime: $var_name.mintime.raw})
                #$inigoData.update({$var_name_max: $var_name.max.formatted})
                #$inigoData.update({$var_name_maxtime: $var_name.maxtime.raw})
            #end if
        #end if
    #end for
#end for
##
##
##
#$inigoData.update({"current_windGust": $current.windGust.formatted})
#$inigoData.update({"current_windGustDir": $current.windGust.ordinal_compass})
#$inigoData.update({"current_windSpeed": $current.windSpeed.formatted})
#$inigoData.update({"current_windSpeedDir": $current.windSpeed.ordinal_compass})
#$inigoData.update({"current_windSpeedAvg": $current.windSpeed.avg.formatted})
#$inigoData.update({"current_windSpeedAvgDir": $current.windSpeed.avg.ordinal_compass})
#for $time_period in $time_periods
    #set $time_period_obj = getattr($self, $time_period, None)
    #if $time_period_obj is not None
        #set $var_name = getattr($time_period_obj, "wind", None)
        #if $var_name is not None and $var_name.has_data
            #set $var_name_str = $time_period + "_wind"
            #set $var_name_max = $var_name_str + "_max"
            #set $var_name_maxtime = $var_name_str + "_maxtime"
            #set $var_name_gustdir = $var_name_str + "_gustdir"
            #$inigoData.update({$var_name_max: $var_name.max.formatted})
            #$inigoData.update({$var_name_maxtime: $var_name.maxtime.raw})
            #$inigoData.update({$var_name_gustdir: $var_name.gustdir.ordinal_compass})
        #end if
    #end if
#end for
##
##
##
#set $vars = ["ET", "radiation", "UV"]
#for $var in $vars
    #for $time_period in ["current"] + $time_periods
        #set $time_period_obj = getattr($self, $time_period, None)
        #if $time_period_obj is not None
            #set $var_name = getattr($time_period_obj, $var, None)
            #if $var_name is not None and $var_name.has_data
                #$inigoData.update({$time_period + "_" + $var: $var_name.sum.formatted})
            #end if
        #end if
    #end for
#end for
##
##
##
#if $current.cloudbase.has_data
    #$inigoData.update({"cloudbase": int(round($current.cloudbase.raw))})
    #$inigoData.update({"unit_cloudbase": $unit.unit_type.cloudbase})
#end if
##
##
##
#if $almanac.hasExtras
    #$inigoData.update({"sun_rise": $almanac.sun.rise.raw})
    #$inigoData.update({"sun_set": $almanac.sun.set.raw})
    #$inigoData.update({"sun_transit": $almanac.sun.transit.raw})
    #$inigoData.update({"moon_rise": $almanac.moon.rise.raw})
    #$inigoData.update({"moon_set": $almanac.moon.set.raw})
    #$inigoData.update({"next_full_moon": $almanac.next_full_moon.raw})
    #$inigoData.update({"next_new_moon": $almanac.next_new_moon.raw})
    #$inigoData.update({"moon_phase": $almanac.moon_phase})
    #$inigoData.update({"moon_fullness": $almanac.moon_fullness})
#end if
##
##
##
#$inigoData.update({"label_barometer": $unit.label.barometer})
#$inigoData.update({"label_outHumidity": $unit.label.outHumidity})
#$inigoData.update({"label_outTemp": $unit.label.outTemp})
#$inigoData.update({"label_windSpeed": $unit.label.windSpeed})
##
##
##
#$inigoData.update({"appTemp": round($current.appTemp.raw, 1)})
#$inigoData.update({"datetime1": $current.dateTime.format("%a, %d %b %Y")})
#$inigoData.update({"datetime2": $current.dateTime.format("%H:%M %Z")})
#$inigoData.update({"station_location": $station.location})
##
##
##
#if $almanac.moon.next_rise.has_data
    #$inigoData.update({"moon_next_rise": $almanac.moon.next_rise.raw})
#end if
#if $almanac.moon.next_set.has_data
    #$inigoData.update({"moon_next_set": $almanac.moon.next_set.raw})
#end if
##
##
##
#set $vars = [600, 1800, 3600, 21600, 86400]
#for $var in $vars
    #set $var_name = $span(time_delta=$var).rain
    #if $var_name is not None and $var_name.has_data
        #$inigoData.update({"rain_" + str($var): $var_name.sum.formatted})
    #end if
#end for
##
##
##
$json.dumps($inigoData)
