#errorCatcher Echo
#encoding UTF-8
##
##
#import json
##
#from Cheetah import NameMapper
##
##
##
#set $inigoData = {"version": 1000000, "processingErrors": []}
##
##
#try
    #set $now=$current.dateTime.raw
    #set $inigoData["report_time"] = $now
    ##
    ##
    ##
    #set $var = "station.location"
    #if $varExists($var)
        #set $inigoData["station_location"] = $station.location.strip()
    #end if
    ##
    ##
    ##
    #set $vars = ["outTemp", "inTemp", "outHumidity", "inHumidity", "barometer", "dewpoint"]
    #set $time_periods = ["current", "hour_ago", "day", "month", "year", "alltime"]
    #set $hour_ago = $current(timestamp=$now-3600, max_delta=300)
    #set $inigoData["hour_ago_time"] = $hour_ago.dateTime.raw
    ##
    ##
    ##
    #try
        #for $var in $vars
            #for $time_period in $time_periods
                #set $var_name_str = $time_period + "_" + $var
                #set $var_name = getattr($getVar($time_period), $var, None)
                #if $var_name is not None and $var_name.has_data
                    #set $inigoData[$var_name_str + "_max"] = $raw_value($var_name.max)
                    #set $inigoData[$var_name_str + "_min"] = $raw_value($var_name.min)
                    #set $inigoData[$var_name_str + "_maxtime"] = $raw_value($var_name.maxtime)
                    #set $inigoData[$var_name_str + "_mintime"] = $raw_value($var_name.mintime)
                #end if
            #end for
        #end for
    #except
        #set $inigoData["processingErrors"] += ["failed at block 1, var: " + $var + ", time_period: " + $time_period + ", sys.exc_info(): " + $sys.exc_info()]
    #end try
    ##
    ##
    ##
    #try
        #set $vars = ["windSpeed", "windGust", "windDir", "windGustDir"]
        #for $var in $vars
            #for $time_period in $time_periods
                #set $var_name = getattr($getVar($time_period), "wind", None)
                #if $var_name is not None and $var_name.has_data
                    #set $var_name_str = $time_period + "_wind"
                    #set $inigoData[$var_name_str + "_avg"] = $raw_value($var_name.avg)
                    #set $inigoData[$var_name_str + "_max"] = $raw_value($var_name.max)
                    #set $inigoData[$var_name_str + "_maxtime"] = $raw_value($var_name.maxtime)
                    #set $inigoData[$var_name_str + "_maxdir"] = $raw_value($var_name.gustdir)
                #end if
            #end for
        #end for
    #except
        #set $inigoData["processingErrors"] += ["failed at block 2, var: " + $var + ", time_period: " + $time_period + ", sys.exc_info(): " + $sys.exc_info()]
    #end try
    ##
    ##
    ##
    #try
        #set $vars = ["ET", "rain"]
        #for $var in $vars
            #for $time_period in $time_periods
                #if $time_period in ("current", "hour_ago")
                    #continue
                #end if
                ##
                ##
                ##
                #set $var_name = getattr($getVar($time_period), $var, None)
                #if $var_name is not None and $var_name.has_data
                    #set $inigoData[$time_period + "_" + $var + "_sum"] = $raw_value($var_name.sum)
                #end if
            #end for
        #end for
    #except
        #set $inigoData["processingErrors"] += ["failed at block 3, var: " + $var + ", time_period: " + $time_period + ", sys.exc_info(): " + $sys.exc_info()]
    #end try
    ##
    ##
    ##
    #try
        #set $vars = ["radiation", "UV"]
        #for $var in $vars
            #for $time_period in $time_periods
                #set $var_name = getattr($getVar($time_period), $var, None)
                #if $var_name is not None and $var_name.has_data
                    #set $var_name_str = $time_period + "_" + $var
                    #set $inigoData[$var_name_str + "_max"] = $raw_value($var_name.max)
                    #set $inigoData[$var_name_str + "_maxtime"] = $raw_value($var_name.maxtime)
                #end if
            #end for
        #end for
    #except
        #set $inigoData["processingErrors"] += ["failed at block 4, var: " + $var + ", time_period: " + $time_period + ", sys.exc_info(): " + $sys.exc_info()]
    #end try
    ##
    ##
    ##
    #try
        #set $var = "current.rainRate"
        #if $varExists($var)
            #set $inigoData["current_rainRate"] = $raw_value($current.rainRate)
        #end if
        ##
        ##
        ##
        #set $var = "current.cloudbase"
        #if $varExists("almanac") and 
            #set $inigoData["current_cloudbase"] = $raw_value($current.cloudbase)
        #end if
        ##
        ##
        ##
        #set $var = "hour_ago.cloudbase"
        #if $varExists($var) and $hour_ago.cloudbase.has_data
            #set $inigoData["hour_ago_cloudbase"] = $raw_value($hour_ago.cloudbase)
        #end if
    #except
        #set $inigoData["processingErrors"] += ["failed at block 5, var: " + $var + ", sys.exc_info(): " + $sys.exc_info()]
    #end try
    ##
    ##
    ##
    #try
        #if $varExists("almanac")
            #set $var = "almanac.sun"
            #if $varExists("almanac.sun")
                #set $var = "almanac.sun.rise.raw"
                #if $almanac.sun.rise is not None
                    #set $inigoData["sun_rise"] = $raw_value($almanac.sun.rise)
                #end if
                #set $var = "almanac.sun.set.raw"
                #if $almanac.sun.set is not None
                    #set $inigoData["sun_set"] = $raw_value($almanac.sun.set)
                #end if
                #set $var = "almanac.sun.transit.raw"
                #if $almanac.sun.transit is not None
                    #set $inigoData["sun_transit"] = $raw_value($almanac.sun.transit)
                #end if
            #end if
            ##
            ##
            ##
            #set $var = "almanac.moon"
            #if $varExists($var)
                #set $var = "almanac.moon.rise"
                #if $varExists($var)
                    #set $inigoData["moon_rise"] = $raw_value($almanac.moon.rise)
                #end if
                #set $var = "almanac.moon.set"
                #if $varExists($var)
                    #set $inigoData["moon_set"] = $raw_value($almanac.moon.set)
                #end if
                #set $moon_next_rise_is_set = False
                #set $var = "almanac.moon.next_rising"
                #if $varExists($var)
                    #set $moon_next_rise_is_set = True
                    #set $inigoData["moon_next_rise"] = $raw_value($almanac.moon.next_rising)
                #end if
                #if not $moon_next_rise_is_set
                    #set $var = "almanac.moon.next_rise"
                    #if $varExists($var)
                        #set $inigoData["moon_next_rise"] = $raw_value($almanac.moon.next_rise)
                    #end if
                #end if
                #set $moon_next_set_is_set = False
                #set $var = "almanac.moon.next_setting"
                #if $varExists($var)
                    #set $moon_next_set_is_set = True
                    #set $inigoData["moon_next_set"] = $raw_value($almanac.moon.next_setting)
                #end if
                #if not $moon_next_set_is_set
                    #set $var = "almanac.moon.next_set"
                    #if $varExists($var)
                        #set $inigoData["moon_next_set"] = $raw_value($almanac.moon.next_set)
                    #end if
                #end if
            #end if
            #set $var = "almanac.next_full_moon"
            #if $varExists($var)
                #set $inigoData["next_full_moon"] = $raw_value($almanac.next_full_moon)
            #end if
            #set $var = "almanac.next_new_moon"
            #if $varExists($var)
                #set $inigoData["next_new_moon"] = $raw_value($almanac.next_new_moon)
            #end if
            #set $var = "almanac.moon_phase"
            #if $varExists($var)
                #set $inigoData["moon_phase"] = $almanac.moon_phase.strip()
            #end if
            #set $var = "almanac.moon_fullness"
            #if $varExists($var)
                #set $inigoData["moon_fullness"] = $almanac.moon_fullness
            #end if
        #end if
    #except
        #set $inigoData["processingErrors"] += ["failed at block 6, var: " + $var + ", sys.exc_info(): " + $sys.exc_info()]
    #end try
    ##
    ##
    ##
    #try
        #if $varExists("inigo")
            #set $ts = $inigo.get("ts", 0)
            #set $report = $inigo.get("report", {})
            #if $ts is not None and $ts > 0 and $report is not None
                #set $inigoData["outTemp_trend_ts"] = $report.get("search_list_ts", [])
                #set $inigoData["outTemp_trend_signal"] = $report.get("search_list_signal", [])
                #set $inigoData["outTemp_trend_count"] = $report.get("search_list_count", [])
                ##
                ##
                ##
                #set $time_periods = ["hour", "today", "yesterday", "month_to_date", "last_month", "year_to_date", "last_year", "alltime"]
                #for $time_period in $time_periods
                    #set $inigoData["since_" + $time_period] = $report.get("since_" + $time_period, 0)
                #end for
                ##
                ##
            #end if
        #end if
    #except
        #set $inigoData["processingErrors"] += ["failed at block 7, var_name_ts_str: " + $var_name_ts_str + ", var_name_signal_str: " + $var_name_signal_str + ", var_name_count_str: " + $var_name_count_str + ", sys.exc_info(): " + $sys.exc_info()]
    #end try
    ##
    ##
    ##
    #try
        #set $vars = ["appTemp", "THSW"]
        #set $time_periods = ["current", "hour_ago"]
        #for $var in $vars
            #for $time_period in $time_periods
                #set $var_name = getattr($getVar($time_period), $var, None)
                #if $var_name is not None and $var_name.has_data
                    #set $inigoData[$time_period + "_" + $var] = $raw_value($var_name)
                #end if
            #end for
        #end for
    #except
        #set $inigoData["processingErrors"] += ["failed at block 8, var: " + $var + ", sys.exc_info(): " + $sys.exc_info()]
    #end try
    ##
    ##
    ##
    #try
        #set $vars = [600, 1800, 3600, 21600, 86400]
        #for $var in $vars
            #set $var_name = getattr($span(time_delta=$var), "rain", None)
            #if $var is not None and $var_name.has_data
                #set $inigoData["rain_" + str($var)] = $raw_value($var_name)
            #end if
        #end for
    #except
        #set $inigoData["processingErrors"] += ["failed at block 9, var: rain_" + str($var) + ", sys.exc_info(): " + $sys.exc_info()]
    #end try
    ##
    ##
    ##
#except NameMapper.NotFound
    #set $inigoData["processingErrors"] += ["failed at block 10" + ", sys.exc_info(): " + $sys.exc_info()]
#except
    #set $inigoData["processingErrors"] += ["failed at block 11" + ", sys.exc_info(): " + $sys.exc_info()]
#end try
##
##
##
#try
    #echo $json.dumps($sort_dict($inigoData))
#except
    #echo "{\"version\": 1000000, \"processingErrors\": [\"failed at block 12"  + ", sys.exc_info(): " + $sys.exc_info() + "\"]}"
#end try
