#errorCatcher Echo
#encoding UTF-8
##
##
#import json
##
#from Cheetah import NameMapper
##
##
##
#set $inigoData = {"version": 1000000, "processingErrors": []}
##
##
#try
    #set $inigoData["report_time"] = $yesterday.start.raw + 86400
    ##
    ##
    ##
    #set $vars = ["outTemp", "inTemp", "outHumidity", "inHumidity", "barometer", "dewpoint"]
    #set $time_periods = ["yesterday", "last_month", "last_year"]
    ##
    ##
    ##
    #try
        #for $var in $vars
            #for $time_period in $time_periods
                #set $var_name_str = $time_period + "_" + $var
                #set $var_name = getattr($getVar($time_period), $var, None)
                #if $var_name is not None and $var_name.has_data
                    #set $inigoData[$var_name_str + "_max"] = $raw_value($var_name.max, $var)
                    #set $inigoData[$var_name_str + "_min"] = $raw_value($var_name.min, $var)
                    #set $inigoData[$var_name_str + "_maxtime"] = $raw_value($var_name.maxtime, "unix_epoch")
                    #set $inigoData[$var_name_str + "_mintime"] = $raw_value($var_name.mintime, "unix_epoch")
                #end if
            #end for
        #end for
    #except
        #set $inigoData["processingErrors"] += ["failed at block 1, var: " + $var + ", time_period: " + $time_period]
    #end try
    ##
    ##
    ##
    #try
        #set $var = "wind"
        #for $time_period in $time_periods
            #set $var_name_str = $time_period + "_" + $var
            #set $var_name = getattr($getVar($time_period), $var, None)
            #if $var_name is not None and $var_name.has_data
                #set $inigoData[$var_name_str + "_avg"] = $raw_value($var_name.avg, $var)
                #set $inigoData[$var_name_str + "_max"] = $raw_value($var_name.max, $var)
                #set $inigoData[$var_name_str + "_maxtime"] = $raw_value($var_name.maxtime, "unix_epoch")
                #set $inigoData[$var_name_str + "_gustdir"] = $raw_value($var_name.gustdir, "degree_compass")
            #end if
        #end for
    #except
        #set $inigoData["processingErrors"] += ["failed at block 2, var: " + $var + ", time_period: " + $time_period]
    #end try
    ##
    ##
    ##
    #try
        #set $vars = ["ET", "rain"]
        #for $var in $vars
            #for $time_period in $time_periods
                #set $var_name = getattr($getVar($time_period), $var, None)
                #if $var_name is not None and $var_name.has_data
                    #set $inigoData[$time_period + "_" + $var + "_sum"] = $raw_value($var_name.sum, $var)
                #end if
            #end for
        #end for
    #except
        #set $inigoData["processingErrors"] += ["failed at block 3, var: " + $var + ", time_period: " + $time_period]
    #end try
    ##
    ##
    ##
    #try
        #set $vars = ["radiation", "UV"]
        #for $var in $vars
            #for $time_period in $time_periods
                #set $var_name = getattr($getVar($time_period), $var, None)
                #if $var_name is not None and $var_name.has_data
                    #set $var_name_str = $time_period + "_" + $var
                    #set $inigoData[$var_name_str + "_max"] = $raw_value($var_name.max, $var)
                    #set $inigoData[$var_name_str + "_maxtime"] = $raw_value($var_name.maxtime, "unix_epoch")
                #end if
            #end for
        #end for
    #except
        #set $inigoData["processingErrors"] += ["failed at block 4, var: " + $var + ", time_period: " + $time_period]
    #end try
    ##
    ##
    ##
#except NameMapper.NotFound
    #set $inigoData["processingErrors"] += ["failed at block 5"]
#except
    #set $inigoData["processingErrors"] += ["failed at block 6"]
#end try
##
##
##
#try
    #echo $json.dumps($sort_dict($inigoData))
#except
    #echo "{\"version\": 1000000, \"processingErrors\": [\"failed at block 7\"]}"
#end try
