#errorCatcher Echo
#encoding UTF-8
##
##
#import json
##
#from Cheetah import NameMapper
##
##
##
#set $inigoData = {"version": 1000000, "processingErrors": []}
##
##
#try
    #set $inigoData["yesterday"] = $yesterday.start.raw
    #set $inigoData["now"] = $current.dateTime.raw
    ##
    ##
    ##
    #set $vars = ["outTemp", "inTemp", "outHumidity", "inHumidity", "barometer", "dewpoint"]
    #set $time_periods = ["yesterday", "last_month", "last_year"]
    ##
    ##
    ##
    #try
        #for $var in $vars
            #for $time_period in $time_periods
                #set $var_name = getattr($getVar($time_period), $var, None)
                #if $var_name is not None and $var_name.has_data
                    #set $var_name_str = $time_period + "_" + $var
                    #set $var_name_min = $var_name_str + "_min"
                    #set $var_name_mintime = $var_name_str + "_mintime"
                    #set $var_name_max = $var_name_str + "_max"
                    #set $var_name_maxtime = $var_name_str + "_maxtime"
                    #if $var_name.min is not None and $var_name.min.has_data
                        #if $var in ["outTemp", "inTemp", "barometer", "dewpoint"]
                            #set $inigoData[$var_name_min] = $var_name.min.raw
                        #else
                            #set $inigoData[$var_name_min] = $var_name.min.raw
                        #end if
                    #end if
                    #if $var_name.mintime is not None and $var_name.mintime.has_data
                        #set $inigoData[$var_name_mintime] = $var_name.mintime.raw
                    #end if
                    #if $var_name.max is not None and $var_name.max.has_data
                        #if $var in ["outTemp", "inTemp", "barometer", "dewpoint"]
                            #set $inigoData[$var_name_max] = $var_name.max.raw
                        #else
                            #set $inigoData[$var_name_max] = $var_name.max.raw
                        #end if
                    #end if
                    #if $var_name.maxtime is not None and $var_name.maxtime.has_data
                        #set $inigoData[$var_name_maxtime] = $var_name.maxtime.raw
                    #end if
                #end if
            #end for
        #end for
    #except
        #set $inigoData["processingErrors"] += ["failed at block 1, var: " + $var + ", time_period: " + $time_period]
    #end try
    ##
    ##
    ##
    #try
        #for $time_period in $time_periods
            #set $var_name = getattr($getVar($time_period), "wind", None)
            #if $var_name is not None and $var_name.has_data
                #set $var_name_str = $time_period + "_wind"
                #set $var_name_avg = $var_name_str + "_avg"
                #set $var_name_max = $var_name_str + "_max"
                #set $var_name_maxtime = $var_name_str + "_maxtime"
                #set $var_name_gustdir = $var_name_str + "_gustdir"
                #set $var_name_gustdir_compass = $var_name_str + "_gustdir_compass"
                #set $inigoData[$var_name_avg] = $var_name.avg.raw
                #set $inigoData[$var_name_max] = $var_name.max.raw
                #set $inigoData[$var_name_maxtime] = $var_name.maxtime.raw
                #set $inigoData[$var_name_gustdir] = $var_name.gustdir.raw
                #set $inigoData[$var_name_gustdir_compass] = $var_name.gustdir.ordinal_compass.strip()
            #end if
        #end for
    #except
        #set $inigoData["processingErrors"] += ["failed at block 2, var: " + $var + ", time_period: " + $time_period]
    #end try
    ##
    ##
    ##
    #try
        #set $vars = ["ET", "rain"]
        #for $var in $vars
            #for $time_period in $time_periods
                #set $var_name = getattr($getVar($time_period), $var, None)
                #if $var_name is not None and $var_name.has_data
                    #set $inigoData[$time_period + "_" + $var + "_sum"] = $var_name.sum.raw
                #end if
            #end for
        #end for
    #except
        #set $inigoData["processingErrors"] += ["failed at block 3, var: " + $var + ", time_period: " + $time_period]
    #end try
    ##
    ##
    ##
    #try
        #set $vars = ["radiation", "UV"]
        #for $var in $vars
            #for $time_period in $time_periods
                #set $var_name = getattr($getVar($time_period), $var, None)
                #if $var_name is not None and $var_name.has_data
                    #set $var_name_str = $time_period + "_" + $var
                    #set $var_name_max = $var_name_str + "_max"
                    #set $var_name_maxtime = $var_name_str + "_maxtime"
                    #set $inigoData[$var_name_max] = $var_name.max.raw
                    #set $inigoData[$var_name_maxtime] = $var_name.maxtime.raw
                #end if
            #end for
        #end for
    #except
        #set $inigoData["processingErrors"] += ["failed at block 4, var: " + $var + ", time_period: " + $time_period]
    #end try
    ##
    ##
    ##
#except NameMapper.NotFound
    #set $inigoData["processingErrors"] += ["failed at block 5"]
#except
    #set $inigoData["processingErrors"] += ["failed at block 6"]
#end try
##
##
##
#try
    #echo $json.dumps($sort_dict($inigoData))
#except
    #echo "failed at block 7"
#end try
